@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): <span class="color">@Html.DisplayFor(model => model.Name)</span></h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer does not have any machines</p>
}
else
{
  <h4>Machines the Engineer can work on:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <div class="delete-group">
      <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      @Html.Hidden("engineerId", Model.EngineerId)
      <input class="delete-button" type="submit" value="X"/>
    }
    </div>
  }
  </ul>
}
<div class="button-group">
  <p class="button add">@Html.ActionLink("Add a Machine", "AddMachine", new {id = Model.EngineerId})</p>
  <p class="button edit">@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
  <p class="button delete">@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
</div>
<p class="button">@Html.ActionLink("Back to all Engineers", "Index")</p>